* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-open-sans- {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

.logo h2 {
    font-size: 45px;
    font-weight: 900;


}

.colour-different {
    color: #FD6E0A;
}

header {
    background-color: #fbebde;
    /* padding-top: 50px; */
    background: url(../images/developer.png), url(../images/header_bg.png), #fbebde;
    background-repeat: no-repeat;
    background-position: top left, bottom right;


}

nav {
    width: 71%;
    max-width: 1366px;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu li a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

.btn {
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
}

#banner .banner-contant {
    max-width: 585px;
}

#banner .banner-contant h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-contant h1 {
    font-size: 83px;
    font-weight: bold;
    color: #010101;
    margin-bottom: 2px;
}

#banner .banner-contant p {
    font-size: 18px;
    color: #757575;
    line-height: 30p;
    margin-bottom: 30px;

}

.banner-image {
    max-width: 584px;
    vertical-align: middle;
}

#about {
    padding-top: 130px;
}

.about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 131px;
    background-color: #FFF8F3;
}

.section-heading {
    max-width: 827px;
    text-align: center;

}

.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;

}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.about-info {
    display: flex;
    justify-content: space-around;


}

.info-card p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.info-card h4 {
    font-size: 20px;
    padding: 0;
}